.contact {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background: white;
    padding: 10px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5);
    height: 200px;
}

.contact:hover .contact-details {
    bottom: 0;
}

.contact-details {
    position: absolute;
    background: white;
    font-size: 11px;
    bottom: -25px;
    transition: bottom .3s ease-in-out;
}

.contact-company-logo {
    margin-top: -15px;
    height: 30px;
}

.contact-name {
    font-weight: bold;
}

.contact-phone {
    margin-top: 12px;
}