.app-header {
    box-sizing: border-box;
    background: white;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-content {
    padding: 60px 100px;
}

.filter-input {
    border: 1px solid silver;
    padding: 10px;
}