.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-header {
    box-sizing: border-box;
    background: white;
    padding: 20px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .5);
    position: relative;
    z-index: 1;
}

.app-content {
    padding: 6vh 10vw;
    flex: 1 1 auto;
    overflow: auto;
    text-align: center;
}

.filter-input {
    border: 1px solid silver;
    padding: 10px;
    width: 300px;
}

.page-title {
    margin: 0;
    color: rgb(66, 75, 81);
    white-space: nowrap;
    margin-right: 15px;
}

@media (max-width: 604px) {
    .page-title {
        font-size: 20px;
    }
}

@media (max-width: 525px) {
    .app-header {
        display: block;
        padding: 10px 10vw;
    }

    .filter-input {
        width: 100%;
        margin-top: 6px;
    }
}